includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - src/config
        - src/Laravel/Pulse/Livewire/IpInfoCard.php
        - src/Laravel/Telescope/IpInfoTelescopeRecorder.php
    ignoreErrors:
        -
            message: '#Trait SuprunBohdan\\IpInfo\\Testing\\InteractsWithIpInfo is used zero times#'
            path: src/Testing/InteractsWithIpInfo.php
        -
            message: '#Trait SuprunBohdan\\IpInfo\\Laravel\\Database\\Concerns\\HasGeoFromIp is used zero times#'
            path: src/Laravel/Database/Concerns/HasGeoFromIp.php
        -
            message: '#Call to function method_exists\(\) with Illuminate\\Routing\\Router and .*aliasMiddleware.* will always evaluate to true#'
            path: src/Laravel/IpInfoServiceProvider.php
        -
            message: '#.*#'
            path: src/Laravel/Telescope/IpInfoTelescopeRecorder.php
