includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - src/config
    ignoreErrors:
        -
            message: '#Trait SuprunBohdan\\IpInfo\\Testing\\InteractsWithIpInfo is used zero times#'
            path: src/Testing/InteractsWithIpInfo.php
